Source: openinfoman-tz
Maintainer: Carl Leitner <litlfred@ibiblio.org>
Section: web
Priority: optional
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7)
Homepage: https://github.com/openhie/openinfoman-tz


Package: openinfoman-tz
Architecture: all
Depends: openinfoman (>= 1.0.11), openinfoman-rapidpro
Recommends: 
Description: OpenInfoMan Tanzania Library
 Library of stored functions for OpenInfoMan specific to Tanzania
